#passwordform {
    box-sizing: border-box;
    width: 50%;
    background-color: #ffffff;
    border-radius: 10px;

}

body {
    background-color: whitesmoke;
}

#ritapang {
    margin: 30px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#pwhead {
    margin: 5px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#securepasswordarea {
    box-sizing: border-box;
    width: auto;
    height:100%;
    border: dashed lightgray 1px;
    margin: 5px 10px 5px 10px;
    padding: 0 20px 100px 20px;
    text-align: center;
    background-color: #ffffff;
}

#securepassword {
    /*height: 100%;*/
    width: 100%;
    border: #ffffff;
    vertical-align: top;
    color: lightgrey;
    background-color: #ffffff;
    resize:none;
}

.btn-rita1 {
    background-color: rgb(189, 15, 15);
    color: #ffffff;
    border-radius: 50px;
}

.btn-rita2 {
    background-color: lightgray;
    color: #ffffff;
    border-radius: 50px;
}

#generate {
    position: relative;
    margin-left: 10px;
}
#copy {
    position: relative;
    margin-right: -80px;
}

@media only screen and (max-width: 360px) {

    body { 
       font-size: 2em; 
    }
 
 }